@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-dark-blue: #2C3863;
  --color-blue: #E9FAFF;
  --color-light-blue: #DEEEF4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Calistoga, Arial, Helvetica, sans-serif;
}

@layer base {
  [data-theme='drishti'] {
    --color-primary: #2C3863;
    --color-secondary: #E9FAFF;
    --color-tertiary: #DEEEF4;
    --background: "background-image: url('/drishtitheme/WaterBackground.png')";
  }

  [data-theme='rainforest'] {
    --color-primary: #56d0a0;
  }

  [data-theme='candy'] {
    --color-primary: #f9a8d4;
  }
}